html #login label {
  display: none !important;
}
#mainBody {
  background-color: rgb(33, 35, 73);
  margin-top: 0.2em;
  padding: .5em 1em;
}
#login {
  height: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
}
#login div#wrapper {
  font-family: 'Playfair Display', sans-serif;
}
#login div#header {
}
#login div#header > h1 {
  display: none;
}
#login div.title > h2 {
  display: inline-block;
  border-bottom: 2px solid white;
}
#mainBody > .inner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  max-width: 600px;
}
#mainBody .inner > form {
  border-top: 1px solid white;
  border-bottom: 1px solid ;
  border-radius: 6px;
  padding: .5em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#mainBody .inner > form > p {
  margin-bottom: 16px;
}
#mainBody .inner span {
  display: block;
}
#mainBody .inner p.text input {
  border-radius: 5px;
  padding: 10px 12px;
}
#mainBody .inner .password-strength-popover {
  display: none;
}
#mainBody .inner .submit button {
  padding: .8rem 0;
  background: rgb(33, 35, 78);
  color: rgb(221, 182, 78);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: 200px;
  border: 2px solid rgb(221, 182, 78);
  transition: all .2s ease-in;
}
#mainBody .inner .submit button:hover {
  color: rgb(33, 35, 78);
  background: rgb(221, 182, 78);
  transition: all .2s ease-in;
}
.register-page #main-body #email_suggestion {
	position: absolute;
	top: -65px;
	display: none;
	padding: 15px 18px 14px;
	width: 300px;
	border-radius: 5px;
	-ms-box-shadow: 0 0 0 1px hsla(43,15%,59%,.4),0 2px 1px rgba(0,0,0,.07),0 3px 8px rgba(0,0,0,.15);
	-o-box-shadow: 0 0 0 1px hsla(43,15%,59%,.4),0 2px 1px rgba(0,0,0,.07),0 3px 8px rgba(0,0,0,.15);
	box-shadow: 0 0 0 1px hsla(43,15%,59%,.4),0 2px 1px rgba(0,0,0,.07),0 3px 8px rgba(0,0,0,.15);
}
