 /* COLORS
rgb(221, 180, 10) Gold
rgb(60, 91, 0) Green
rgb(86, 51, 100) Blue
rgb(100, 37, 37) Red
rgb(100, 88, 37) Yellow
rgb(86, 57, 100) Pink
rgb(100, 60, 7) Orange
rgb(0, 89, 73) Turqoise */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  padding: 0 !important;
  margin: 0 !important;
}
li {
  list-style: none;
}
button {
  border: none;
}
html {
  background-color: white;

}
body {
  width: 100vw;
  height: 100vh;
  color: black;
  overflow-y: hidden;
}
#wrapper {
  width: inherit;
  height: inherit;
  z-index: 2;
  background-image: url("../images/bckgrDesktopBack.png");
  background-attachment: fixed;
  background-size: auto;
  background-position: left top;
  background-repeat: repeat-y;
  overflow-y: scroll;
  overflow-x: hidden;
  opacity: 1;
}

/*--------------------*/
/*    Loader          */
/*--------------------*/

#loaderWrapper {
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: white;
}
#loaderWrapper .loaderSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#loaderWrapper .loaderSection .boxCheck {
  position: relative;
  height: 75px;
  width: 325px;
  background-image: url("../images/check.png");
}
#loaderWrapper .loaderSection .boxCheck > * {
  display: inline-block;
  height: 100%;
  position: absolute;
}
#loaderWrapper .loaderSection .boxCheck .checkLoader:nth-child(1) {
  background-color: rgb(221, 180, 10);
  width: 60px;
  height: 65px;
  left: 7px;
  top: 6px;
  border-radius: 50%;
  animation: loaderBoop1 6s ease-in-out 0s infinite;
  transform-origin: 160px 50%;
}
#loaderWrapper .loaderSection .boxCheck .checkLoader:nth-child(2) {
  background-color: rgb(240, 90, 90);
  width: 47px;
  height: 74px;
  top: 1px;
  left: 148px;
  animation: loaderBoop2 4s ease-in-out 0s infinite;
  transform-origin: 90px 50%;
}
#loaderWrapper .loaderSection .boxCheck .checkLoader:nth-child(3) {
  background-color: rgb(94, 222, 183);
  border-radius: 50%;
  width: 60px;
  height: 65px;
  right: 54px;
  top: 6px;
  animation: loaderBoop3 4s ease-in-out 0s infinite;
  transform-origin: -39px 50%;
}
@keyframes loaderBoop1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50%;
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(214, 141, 244);
    border-radius: 0%;
    height: 75px;
    top: 0;
  }
  75% {
    border-radius: 0%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@keyframes loaderBoop2 {
  0% {
    transform: translateY(0);
    background-color: rgb(240, 90, 90);
  }
  25% {
    border-radius: 50%;
    transform: translateY(-75px);
    background-color: rgb(214, 141, 244);
    border-radius: 50%;
  }
  50% {
    transform: translateY(0px);
    background-color: rgb(240, 90, 90);
    border-radius: 0;
  }
  75% {
    border-radius: 50%;
    transform: translateY(75px);
    background-color: rgb(94, 222, 183);
    border-radius: 50%;
  }
  100% {
    transform: translateY(0);
    background-color: rgb(240, 90, 90);
    border-radius: 0;
  }
}
@keyframes loaderBoop3 {
  0% {
    background-color: rgb(94, 222, 183);
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50%;
  }
  50% {
    background-color: rgb(150, 228, 55);
    transform: rotate(180deg);
    height: 75px;
    top: 0;
    border-radius: 0;
  }
  75% {
    border-radius: 50%;
  }
  100% {
    background-color: rgb(94, 222, 183);
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  from {opacity: 1;}
  to {opacity: 0;}
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes loaderBoopMain1 {
  0% {
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50%;
  }
  50% {
    transform: rotate(180deg);
    background-color: rgb(214, 141, 244);
    border-radius: 0%;
    height: 25px;
    top: 0;
  }
  75% {
    border-radius: 0%;
  }
  100% {
    transform: rotate(360deg);
    border-radius: 50%;
  }
}
@keyframes loaderBoopMain2 {
  0% {
    transform: translateY(0);
    background-color: rgb(240, 90, 90);
  }
  25% {
    border-radius: 50%;
    transform: translateY(-25px);
    background-color: rgb(94, 222, 183);
    border-radius: 50%;
  }
  50% {
    transform: translateY(0px);
    background-color: rgb(240, 90, 90);
    border-radius: 0;
  }
  75% {
    border-radius: 50%;
    transform: translateY(25px);
    background-color: rgb(150, 228, 55);
    border-radius: 50%;
  }
  100% {
    transform: translateY(0);
    background-color: rgb(240, 90, 90);
    border-radius: 0;
  }
}
@keyframes loaderBoopMain3 {
  0% {
    background-color: rgb(94, 222, 183);
    transform: rotate(0deg);
  }
  25% {
    border-radius: 50%;
  }
  50% {
    background-color: rgb(150, 228, 55);
    transform: rotate(180deg);
    height: 25px;
    top: 0;
    border-radius: 0;
  }
  75% {
    border-radius: 50%;
  }
  100% {
    background-color: rgb(94, 222, 183);
    transform: rotate(360deg);
  }
}

/*--------------------*/
/*    Main            */
/*--------------------*/
@media (max-width: 600px) {
  #wrapper {
    background-image: url("../images/bckgrMobileBack.png");
  }
  #wrapper #mainFrame {
    background-image: url("../images/bckgrMobileBase.png");
  }
  #introduction {
    background-image: url("../images/bckgrMobileBase.png");
  }
}
#wrapper .checkSection {
  margin: 0 7px;
}
#wrapper .checkSection .boxCheck {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 25px;
  width: 108px;
  background-image: url("../images/check.png");
  background-size: cover;
}
#wrapper .checkSection .boxCheck .checkLoader {
  display: inline-block;
}
#wrapper .checkSection .boxCheck > * {
  display: inline-block;
  height: 100%;
  position: absolute;
}
#wrapper .checkSection .boxCheck .checkLoader:nth-child(1) {
  background-color: rgb(221, 180, 10);
  width: 20px;
  height: 22px;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  animation: loaderBoopMain1 6s ease-in-out 0s infinite;
  transform-origin: 54px 50%;
}
#wrapper .checkSection .boxCheck .checkLoader:nth-child(2) {
  background-color: rgb(240, 90, 90);
  width: 16px;
  height: 25px;
  top: 1px;
  left: 50px;
  animation: loaderBoopMain2 4s ease-in-out 0s infinite;
  transform-origin: 90px 50%;
}
#wrapper .checkSection .boxCheck .checkLoader:nth-child(3) {
  background-color: rgb(94, 222, 183);
  border-radius: 50%;
  width: 20px;
  height: 22px;
  right: 18px;
  top: 1px;
  animation: loaderBoopMain3 4s ease-in-out 0s infinite;
  transform-origin: -13px 50%;
}
#wrapper #mainHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
#wrapper #mainHeader #mainNav {
  width: 100%;
}
#wrapper #mainHeader #mainNav > ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}
#wrapper #mainHeader #mainNav > ul > li {
  transition: border-bottom .5s ease-in-out;
}
#wrapper #mainHeader #mainNav > ul > li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(221, 182, 78);
    transition: width .3s;
}

#wrapper #mainHeader #mainNav > ul > li:hover::after {
    width: 100%;
    //transition: width .3s;
}
#wrapper #mainArea {
  display: none;
}
#wrapper #mainFrame {
  margin-top: 30px;
  background-image: url("../images/bckgrDesktopBase.png");
  background-size: 600 auto;
  background-position: left top;
  background-repeat: repeat-y;
  text-align: center;
}
#wrapper #mainPage {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.8);
  margin: 0 20px;
}
#wrapper #mainBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}
input[type=text] {
  background-color: white;
  margin: 10px 0;
  width: 60vw;
  max-width: 400px;
  padding: 10px 0;
  font-size: 1.2rem;
  border-radius: 3px;
  border: 2px solid rgb(221, 182, 78);
}
#text-box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#mainArea input[type='radio'] {
  display: none;
}
input[type='radio'] + label {
  color: white;
  background: rgb(221, 182, 78);
  padding: 10px;
  border-radius: 3px;
  width: 4.2rem;
  cursor: pointer;
}
input[type="radio"]:checked + label,
input[type="radio"]:hover + label {
  background: white;
  border: 2px solid rgb(221, 182, 78);
  color: rgb(221, 182, 78);
}

#text-box button {
  padding: 10px;
  width: 50%;
  background-color: hsl(0, 98%, 63%);
  color: white;
  font-size: 1.4rem;
}

#text-box button:hover {
  background-color: hsl(0, 98%, 83%);
}

.time-range {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.card {
  width: 180px;
  height: 180px;
  border-radius: 3px;
  position: relative;
  text-align: center;
  background-color: hsl(0, 98%, 63%);
  margin: 10px 2px;
}
.card .objective {
  position: absolute;
  width: 100%;
  height: 100%;
  background: inherit;
}
.card .objective .topTriangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: rgba(255, 255, 255, .2);
  transition: all .3s ease-in-out;
  z-index: 1;
}
.card .objective .topTriangle::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-top: 80px solid rgba(255, 255, 255, .2);
  z-index: 1;
}
.card .objective .bottomTriangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border-left: 90px solid transparent;
  border-right: 90px solid transparent;
  border-bottom: 100px solid rgba(255, 255, 255, .2);
}
.card .objective .topTriangle > p {
  position: absolute;
  left: calc(50% - 80px);
  top: 10px;
  width: 160px;
  height: 50px;
  margin: 0;
  border-radius: 3px;
  padding: 2px;
  background: rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: height .3s ease-in-out;
  z-index: 2;
}
.card .objective .topTriangle > p:hover {
  height: 160px;
  transition: height .3s ease-in-out;
  overflow: auto;
}
.card .objective .topTriangle > p::-webkit-scrollbar {
  display: none;
}
.card .paperCard {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  width: 160px;
  height: 100%;
  margin: 0 auto;
  padding: 0 5px;
  background-color: rgba(255, 255, 255, 0.8);
}
.card .paperCard > * {
}

.card .paperCard time {
  color: rgb(255, 179, 10);
}

.card .paperCard span {
  font-size:  1.2rem;
  color: rgb(204, 0, 0);
}
.rewardAsk {
  visibility: visible;
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 5px;
  right: calc(50% - 25px);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid rgba(255, 255, 255, 0.4);
  z-index: 2;
  transition: all .3s ease-in-out;
}
.rewardAsk:hover ~ .topTriangle,
.rewardAsk:target ~ .topTriangle {
  transform: rotateX(50deg);
  transform-origin: 50% 0;
  transition: transform .3s ease-in-out;
}
.rewardAsk:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, .7);
}

.reward-frame {
  display: none;
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  text-align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.reward-dialog {
  display: flex;
  flex-flow: column;
  margin: 15vh auto;
  border-top: 3px solid rgb(92, 166, 227);
  border-right: 3px solid rgb(142, 210, 72);
  border-bottom: 3px solid rgb(247, 207, 63);
  border-left: 3px solid rgb(240, 77, 77);
  border-radius: 3px;
  background-color: white;
  padding: 20px;
  z-index: 1;
  width: 80%;
  height: 70vh;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.reward-header > h2 {
  color: hsl(160, 50%, 60%);
}
.reward-frame .reward-dialog .reward-list {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}
.reward-frame .reward-dialog .reward-list .reward-list-cards {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.reward-frame .reward-dialog .reward-list .reward-list-cards > span {
  display: inline-block;
  border-top: 1px solid rgb(92, 166, 227);
  border-right: 1px solid rgb(142, 210, 72);
  border-bottom: 1px solid rgb(247, 207, 63);
  border-left: 1px solid rgb(240, 77, 77);
  padding: 20px 10px;
}

/*--------------------*/
/*    Introduction    */
/*--------------------*/

#introduction {
  display: block;
  height: 85vh;
  background-image: url("../images/bckgrDesktopBase.png");
  background-size: 600 auto;
  background-position: left top;
  background-repeat: repeat-y;
  display: flex;
  justify-content: center;
  align-items: center;
}
#introduction .mainIntro {
  width: 80vw;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 8px 8px rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
#introduction .mainIntro .introSteps {
  position: relative;
  width: inherit;
  height: 100%;
}
#introduction .mainIntro .introSteps .radioContainer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}
#introduction .mainIntro .introSteps .radioElements {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
#introduction .mainIntro .introSteps .radioElements > input {
  opacity: 0;
  position: absolute;
}
#introduction .mainIntro .introSteps .radioElements > span {
  position: absolute;
  bottom: -2em;
  left: 50%;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid grey;
  cursor: pointer;
}
#introduction .mainIntro .introSteps .radioElements .yellow {
  background-color: rgb(221, 180, 10);
}
#introduction .mainIntro .introSteps .radioElements .green {
  background-color: rgb(94, 222, 183);
}
#introduction .mainIntro .introSteps .radioElements .red {
  background-color: rgb(240, 90, 90);
}
#introduction .mainIntro .introSteps .radioElements .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
#introduction .mainIntro .introSteps .radioElements .checkmark::after {
  top: -5px;
  left: -5px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  border: 2px solid rgb(221, 221, 221);
}
#introduction .mainIntro .introSteps .radioElements input:checked ~ .checkmark:after {
  display: block;
}
#introduction .mainIntro .introSteps .radioElements .checkmark:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
#introduction .mainIntro .introSteps .radioElements input:checked ~ .checkmark {
}
#introduction .mainIntro .introSteps .introStepOne #introInput > button {
  padding: 10px;
  display: block;
  margin: 0 auto;
  width: 200px;
  background-color: hsl(0, 98%, 63%);
  color: white;
  font-size: 1.4rem;
}
#introduction .mainIntro .introSteps h2 {
  font-size: 2.2rem;
}
#introduction .mainIntro .introSteps .introStepOne {
}
#introduction .mainIntro .introSteps .introStepOne > p {
  margin: 4em;
}
#introduction .mainIntro .introSteps .introCard .card {
  margin: 2em auto;
}
#introduction .mainIntro .introSteps .introStepOne .card .objective .topTriangle > p {
  animation: introCard 2s linear 0s alternate infinite;
  overflow: auto;
}
#introduction .mainIntro .introSteps .introStepOne .card .objective .topTriangle {
  animation: introCardFlip 2s linear 0s alternate infinite;
  transform-origin: 50% 0;
}
#introduction .mainIntro .introSteps .introStepOne,
#introduction .mainIntro .introSteps .introStepTwo,
#introduction .mainIntro .introSteps .introStepThree {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
}
@keyframes introCard {
  from {
    height: 50px;
  }
  to {
    height: 160px;
  }
}
@keyframes introCardFlip {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(50deg);
  }
}
