/*===================================================================


  Author:         Angel Casas Pescador

	Description: 	 Checkbox main CSS.


	Author URI:     http://angel-github.io/index.html

	Version:        1.0


	License: GNU General Public License V2 or Later

	License URI: http://www.gnu.org/licenses/gpl-2.0.html



/*===================================================================*/

/* loader */
/* #frame {
  position: fixed;
  top: 0;
  width: 95%;
  margin: 0 auto;
  z-index: 1000;
  height: 50px;
}
.loaded #loader-wrapper {
  visibility: hidden;
}
.loaded #frame {
  -webkit-transition:
}
.loaded #loader {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
*/
html {
  font-family: "Playfair Display", sans-serif !important;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: inherit;
  width: inherit;
  height: inherit;
}

.reward-frame {
  display: none;
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4);
}
.reward-dialog {
  margin: 15vh auto;
  border: 2px solid hsl(53, 99%, 50%);
  border-radius: 3px;
  background-color: hsl(80, 50%, 90%);
  padding: 20px;
  z-index: 1;
  width: 80%;
  height: 70vh;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

#wrapper {
  width: inherit;
  height: inherit;
  transition: color 2s linear 2s;
}
#wrapper .main-header {
  display: flex;
  flex-flow: column nowrap;
  height: 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 100;
  color: #FFF;
}
#wrapper .main-header h1 {
  flex: 1;
}
#wrapper .main-header #main-nav {
  flex: 1;
}
#wrapper .main-header #main-nav #nav-collapsible {
  float: right;
}

#wrapper .main-header #main-nav #navbar-column {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#wrapper .main-header #main-nav ul li {
  width: inherit;
  padding: 10px 0;
  flex; 1;
}
#wrapper .main-header #main-nav ul li a {
  position: relative;
}
#wrapper .main-header #main-nav ul li:focus a,
#wrapper .main-header #main-nav ul li:hover a {
  transition: border-bottom 1s;
}
#wrapper .main-header #main-nav ul li > a::after {
  border-bottom: 1px solid black;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.3s, -moz-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  transform: translateY(20px);
}
#wrapper .main-header #main-nav ul li:hover > a::after {
  opacity: 1;
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  transform: translateY(1px);
}
#wrapper .main-header #main-nav ul .users-nav {
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  #wrapper .main-header {
    flex-flow: row nowrap;
  }
  #wrapper .main-header> * {
    align-self: center;
  }
  #wrapper .main-header #main-nav #navbar-column {
    flex-flow: row nowrap;
  }
  .mountain-green2 {
    width: 200px !important;
    height: 600px !important;
  }
  .big-orange-circle {
    width: 100px !important;
    height: 100px !important;
  }
  .small-yellow-circle {
    width: 25px !important;
    height: 25px !important;
  }
  :root {
    --radius: 75px !important;
  }
  .sunshine {
    transform-origin: 400px 20vh !important;
  }
  .moon {
    transform-origin: -300px 20vh !important;
  }
}
#wrapper #main-frame {
  border: 1px solid yellow;
  padding-top: 200px;
  z-index: 100;
}
#wrapper #main-frame #mainPage {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 95vw;
  margin-top: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.7);
  z-index: 10;
  position: fixed;
  top: 150px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, 0);
  overflow-y: scroll;
}
#wrapper #mainPage::-webkit-scrollbar {
  display: none;
}
input[type=text] {
  background-color: hsl(80, 80%, 96%);
  margin: 10px 0;
  width: 60vw;
  max-width: 400px;
  padding: 10px 0;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 2px solid hsl(80, 95%, 40%);
  text-align: center;
}
input[type="text"]::placeholder {  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.3);
}
input[type="text"]:-ms-input-placeholder {  /* Internet Explorer 10-11 */
  color: rgba(0, 0, 0, 0.3);
}
input[type="text"]::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(0, 0, 0, 0.3);
}
#text-box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
input[type='radio'] {
  display: none;
}
input[type='radio'] + label {
  color: hsl(80, 95%, 40%);
  background: hsl(80, 80%, 70%);
  padding: 10px;
  border-radius: 3px;
  width: 4.2rem;
  cursor: pointer;
}
input[type="radio"]:checked + label {
  background: hsl(53, 99%, 70%);
  border: 2px solid hsl(80, 95%, 40%);
}
main button {
  font-size: 1.1rem;
  cursor: pointer;
  color: hsl(80, 95%, 30%);
  border-radius: 3px;
  border: 2px solid hsl(80, 95%, 40%);
}
#text-box button {
  padding: 10px;
  width: 50%;
  background-color: hsl(80, 80%, 70%);
}

#text-box button:hover {
  border: 2px solid hsl(80, 80%, 70%);
  background-color: hsl(80, 95%, 40%);
  color: hsl(80, 80%, 70%);
}

.time-range {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row nowrap;
  margin: 10px;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#main-box {
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40vh;
  box-sizing: border-box;
  margin-top: 10px;
}
.card {
  min-width: 140px;
  min-height: 140px;
  cursor:pointer;
  border-radius: 3px;
  margin: 5px;
  position: relative;
  display: -webkit-flex; /* Safari */
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 7px 10px 7px -3px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.card > time:hover {
  background-color: hsl(10, 61%, 50%);
}
.card > span:hover {
  background-color: hsl(80, 80%, 70%);
}

.card > time {
  padding: 10px 0;
  display: block;
  height: 50px;
  background-color: hsl(53, 99%, 70%);
  border-radius: 3px;
  box-sizing: border-box;
}

.card > span {
  padding: 10px 0;
  box-sizing: border-box;
  display: block;
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  height: 100%;
  word-wrap: break-word;
}
.reward-ask {
  visibility: visible;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-out;
  background-color: hsl(80, 80%, 70%);
}
.reward-ask:hover, .reward-ask:target {
  opacity: 0.9;
  transition: opacity 0.2s ease-in;
}
.reward-frame {
  display: none;
  width: 100%;
  height: 100%;
  cursor: default;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.1);
  overflow-y: scroll;
}
.reward-frame::-webkit-scrollbar {
  display: none;
}
.reward-dialog {
  border: 2px solid hsl(53, 99%, 50%);
  border-radius: 3px;
  background-color: hsl(80, 50%, 90%);
  padding: 20px 5px;
  z-index: 1;
  width: 90%;
  height: 70vh;
  display: flex;
  flex-flow: column nowrap;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.reward-header > h2 {
  color: hsl(160, 50%, 60%);
}
#main-frame div.reward-frame .reward-dialog .reward-list {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  justify-content: space-between;
}
#main-frame div.reward-frame .reward-dialog .reward-list > * {
  flex: 1;
  border-bottom: 1px solid rgb(255, 255, 255);
}
#main-frame div.reward-frame .reward-dialog .reward-list .reward-list-cards {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  height: 100%;
}
#main-frame div.reward-frame .reward-dialog .reward-list .reward-list-cards > * {
  width: 100px;
  height: 50px;
  border: 1px solid green;
}
#main-frame div.reward-frame .reward-dialog .reward-list .reward-list-cards > *:hover,
#main-frame div.reward-frame .reward-dialog .reward-list .reward-list-cards > *:target {
  background-color: hsl(53, 99%, 70%);
  cursor: pointer;
}
/* --------------------------------- */
/*       Background Image            */
/*---------------------------------- */
#background-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: hidden;
}
.background-green-ground {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50vh;
  background-color: rgb(49, 230, 175);
}
.background-yellow-sky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(230, 175, 49);
  height: 50vh;
  animation: night 40s ease-in-out 0s infinite;
}
.sunshine {
  position: absolute;
  top: 50%;
  left: 0%;
  z-index: 1;
  transform-origin: 200px 5vh;
  animation: sun 40s linear 0s infinite;
}
.sunshine .big-orange-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 20px 40px rgb(255, 152, 61);
  background-color: rgb(255, 152, 61);
  z-index: 2;
}
.block {
  display: block;
}
.sunshine .small-yellow-circle {
  position: relative;
  top: 70%;
  left: -20%;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 209, 54);
  box-shadow: 0px 0px 10px 20px rgb(255, 209, 54);
  z-index: 3;
}
:root {
  --radius: 40px;
  --bg: #3B4757;
  --moon: #c7cbd0;
  --crater: #737277;
  --crater1: calc(var(--radius) / 2);
  --crater2: calc(var(--radius) / 4);
  --crater3: calc(var(--radius) / 8);
}
.moon {
  position: absolute;
  right: 0;
  bottom: 40%;
  margin: calc(-1 * var(--radius));
  width: calc(var(--radius) * 2);
  height: calc(var(--radius) * 2);
  background: var(--moon);
  border-radius: 50%;
  box-shadow: inset calc(-1 * 100px / 4) 0px 0 0px rgba(0, 0, 0, 0.2);
  transform-origin: -200px 0%;
  animation: moon 40s ease-in-out 0s infinite;
}

.moon li {
  position: absolute;
  list-style: none;
  background: var(--crater);
  border-radius: 50%;
}

.moon li:nth-child(1) {
  left: calc(var(--radius) / 4);
  top: calc(var(--radius) / 5 * 3);
  width: var(--crater1);
  height: var(--crater1);
  box-shadow: inset calc(2 * var(--radius) / 100 * 3) calc(2 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(2) {
  left: calc(var(--radius) / 2 * 3);
  top: calc(var(--radius) / 2);
  width: var(--crater2);
  height: var(--crater2);
  box-shadow: inset calc(1 * var(--radius) / 100 * 3) calc(1 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(3) {
  left: var(--radius);
  top: calc(var(--radius) / 2 * 3);
  width: var(--crater2);
  height: var(--crater2);
  box-shadow: inset calc(1 * var(--radius) / 100 * 3) calc(1 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(4) {
  left: calc(var(--radius) / 2);
  top: calc(var(--radius) / 2 * 3);
  width: var(--crater3);
  height: var(--crater3);
  box-shadow: inset calc(0.8 * var(--radius) / 100 * 3) calc(0.8 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(5) {
  left: calc(var(--radius) * 7 / 8);
  top: calc(var(--radius) / 6);
  width: var(--crater3);
  height: var(--crater3);
  box-shadow: inset calc(0.8 * var(--radius) / 100 * 3) calc(0.8 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(6) {
  left: calc(var(--radius) * 8 / 7);
  top: calc(var(--radius) * 4 / 5);
  width: var(--crater3);
  height: var(--crater3);
  box-shadow: inset calc(0.8 * var(--radius) / 100 * 3) calc(0.8 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}

.moon li:nth-child(7) {
  left: calc(var(--radius) * 20 / 11);
  top: var(--radius);
  width: var(--crater3);
  height: var(--crater3);
  box-shadow: inset calc(0.8 * var(--radius) / 100 * 3) calc(0.8 * -1 * var(--radius) / 100) 0 0px rgba(0, 0, 0, 0.2);
}
.index0 {
  z-index: 0;
}
.index1 {
  z-index: 1;
}
.index2 {
  z-index: 2;
}
.index3 {
  z-index: 3;
}
.no-bullet {
  list-style: none;
}
.absolute {
  position: absolute;
}
.tree {
  height: 70px;
  width: 70px;
  background-color: rgb(197, 149, 204);
  border-radius: 100%;
  border-right: 5px solid rgb(152, 111, 158);
  border-bottom: 5px solid rgb(152, 111, 158);
}
.trunk {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 112px 10px;
  border-color: transparent transparent white transparent;
  margin-top: 14px;
  margin-left: 25px;
}
.leftbranch {
  widh: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 3px 40px 3px;
  border-color: transparent transparent white transparent;
  transform: rotate(-50deg);
  position: absolute;
  margin-top: 12.5px;
  margin-left: -19px;
}
.rightbranch {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 2px 30px 2px;
  border-color: transparent transparent white transparent;
  transform: rotate(36deg);
  position :absolute;
  margin-top: 4px;
  margin-left: 7px;
}
.tree-3 {
  position: absolute;
  bottom: 20%;
  right: 10%;
}
.tree-1 {
  background-color: rgb( 197, 149, 204 );
  border-radius: 50%;
  width: 80px;
  height: 80px;
  top: 60%;
  left: 10%;
  border-right: 5px solid rgb( 152, 111, 158 );
  border-bottom: 5px solid rgb( 152, 111, 158 );
}
.tree-1::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 112px 10px;
  border-color: transparent transparent white transparent;
  top: 60px;
  margin: 0 0 0 32px;
}
.tree-1::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background: rgb( 224, 202, 243 );
  border-radius: 50%;
  top: 40px;
  left: 20px;
}
.tree-2 {
  background-color: rgb(197, 149, 204);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  top: 45vh;
  right: 20%;
  border-right: 5px solid rgb( 152, 111, 158 );
  border-bottom: 5px solid rgb( 152, 111, 158 );
}
.tree-2::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 8px 82px 8px;
  border-color: transparent transparent white transparent;
  top: 45px;
  margin: 0 0 0 22px;
}
.tree-2::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 5px;
  background: rgb( 224, 202, 243 );
  border-radius: 50%;
  top: 40px;
  left: 20px;
}
.mountain-green1 {
  background: rgb(49, 230, 175);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: 45vh;
  left: -10%;
}
.mountain-green2 {
  background: rgb(49, 230, 175);
  border-radius: 50%;
  width: 200px;
  height: 400px;
  top: 35vh;
  right: -10%;
}
.mountain-green3 {
  background: rgb(236, 226, 100);
  border-radius: 50%;
  width: 100%;
  height: 200px;
  top: 40vh;
  left: 25%;
  animation: mountainNight 40s linear 0s infinite;
}
.mountain-green4 {
  background: rgb(49, 230, 175);
  border-radius: 50%;
  width: 300px;
  height: 200px;
  top: 45vh;
  left: 25%;
}
.mountain-green5 {
  background: rgb( 154, 236, 100 );
  border-radius: 50%;
  width: 300px;
  height: 100px;
  top: 45vh;
  left: 5%;
}
.cloud1,
.cloud1:before,
.cloud1:after {
	content: "";
	background: rgb(255, 214, 176);
	display: block;
	position: absolute;
	right: 0;
	top: 27%;
	border-radius: 100%;
	width: 70px;
	height: 30px;
	z-index: 1;
  -webkit-animation: cloudmove 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	-moz-animation: cloudmove 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	-o-animation: cloudmove 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	animation: cloudmove 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
}
.cloud1:before {
	width: 125px;
	height: 65px;
	top: -22px;
	border-radius: 50%;
	left: 24px;
}
.cloud1:after {
	width: 58px;
	height: 48px;
	top: -35px;
	left: 57px;
}

.cloud2,
.cloud2:before,
.cloud2:after {
	content: "";
	display: block;
	position: absolute;
	right: 80%;
	top: 20%;
	border-radius: 100%;
	width: 70px;
	height: 30px;
	z-index: 1;
  -webkit-animation: cloudmove2 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	-moz-animation: cloudmove2 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	-o-animation: cloudmove2 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
	animation: cloudmove2 40s linear 0s infinite, cloudnight 40s linear 0s infinite;
}
.cloud2:before {
	width: 125px;
	height: 65px;
	top: -22px;
	border-radius: 50%;
	left: 24px;
}
.cloud2:after {
	width: 58px;
	height: 48px;
	top: -35px;
	left: 57px;
}
.stars {
  z-index: 0;
  animation: appear 5s linear 0s infinite;
}
.stars li {
  width: 2px;
  z-index: 5;
  height: 2px;
  position: absolute;
  background: white;
  border-radius: 50%;
}
.stars li:nth-child(1) {
  top: 5%;
  left: 5%;
  animation: appear 2.4s linear 0s infinite;
}
.stars li:nth-child(2) {
  top: 10%;
  left: 10%;
  animation: appear 2.2s linear 0s infinite;

}
.stars li:nth-child(3) {
  top: 20%;
  right: 10%;
  animation: appear 2.1s linear 0s infinite;
}
.stars li:nth-child(4) {
  top: 15%;
  right: 7%;
  animation: appear 2.6s linear 0s infinite;
}
.stars li:nth-child(5) {
  top: 6%;
  right: 30%;
  animation: appear 2.9s linear 0s infinite;
}
.stars li:nth-child(6) {
  top: 20%;
  right: 30%;
  animation: appear 2.8s linear 0s infinite;
}
.stars li:nth-child(7) {
  top: 33%;
  right: 35%;
  animation: appear 2.2s linear 0s infinite;
}
.stars li:nth-child(8) {
  top: 25%;
  right: 10%;
  animation: appear 2.3s linear 0s infinite;
}
.stars li:nth-child(9) {
  top: 11%;
  right: 24%;
  animation: appear 2.5s linear 0s infinite;
}
.stars li:nth-child(10) {
  top: 18%;
  right: 4%;
  animation: appear 2.6s linear 0s infinite;
}
.stars li:nth-child(11) {
  top: 22%;
  right: 36%;
  animation: appear 2.7s linear 0s infinite;
}
.stars li:nth-child(12) {
  top: 8%;
  right: 21%;
  animation: appear 2.1s linear 0s infinite;
}.stars li:nth-child(13) {
  top: 21%;
  right: 14%;
  animation: appear 2.8s linear 0s infinite;
}.stars li:nth-child(14) {
  top: 38%;
  right: 39%;
  animation: appear 2.6s linear 0s infinite;
}.stars li:nth-child(15) {
  top: 25%;
  right: 42%;
  animation: appear 2.4s linear 0s infinite;
}.stars li:nth-child(16) {
  top: 13%;
  right: 56%;
  animation: appear 2.3s linear 0s infinite;
}.stars li:nth-child(16) {
  top: 20%;
  right: 77%;
  animation: appear 2.9s linear 0s infinite;
}.stars li:nth-child(17) {
  top: 16%;
  right: 54%;
  animation: appear 2.2s linear 0s infinite;
}.stars li:nth-child(18) {
  top: 21%;
  right: 55%;
  animation: appear 2.1s linear 0s infinite;
}.stars li:nth-child(19) {
  top: 13%;
  right: 58%;
  animation: appear 2.3s linear 0s infinite;
}.stars li:nth-child(20) {
  top: 22%;
  right: 59%;
  animation: appear 2.5s linear 0s infinite;
}

#toogle-rise {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  right: 0;          </div>

  z-index: 10;
  margin: 25px;
  border-radius: 50%;
  background-color: yellow;
}
@keyframes sun {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes sunshine {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes sunshine-return {
  0%{
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes moon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mountainNight {
  0% {
    background: rgb(236, 226, 100);
  }
  75% {
    background: rgb(150, 133, 182);
  }
  100% {
    background: rgb(236, 226, 100);
  }
}
@keyframes night {
  0% {
    background-color: rgb(230, 175, 49);
  }
  75% {
    background-color: rgb(87, 61, 111);
  }
  100% {
    background-color: rgb(230, 175, 49);
  }
}
@keyframes nightsky {
  from {
    background-color: rgb(230, 175, 49);
  }
  to {
    background-color: rgb(87, 61, 111);
  }
}
@keyframes daysky {
  from {
    background-color: rgb(87, 61, 111);
  }
  to {
    background-color: rgb(230, 175, 49);
  }
}
@keyframes cloudmove {
  0% {
    right: 10%;
  }
  25% {
    right: 10%;
  }
  50% {
    right: 25%;
  }
  75% {
    right: 25%;
  }
  100% {
    right: 10%;
  }
}
@keyframes cloudmove2 {
  0% {
    right: 80%;
  }
  25% {
    right: 80%;
  }
  50% {
    right: 100%;
  }
  75% {
    right: 100%;
  }
  100% {
    right: 80%;
  }
}
@keyframes cloudnight {
  0% {
    background: rgb(255, 214, 176);
  }
  25% {
    background: rgb(255, 214, 176);
  }
  50% {
    background: rgb(81, 82, 161);
  }
  75% {
    background: rgb(81, 82, 161);
  }
  100% {
    background: rgb(255, 214, 176);
  }
}
