* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  overflow-y: scroll;
  z-index: 0;
}
#wrapper {
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
#main {
  width: 100%;
  color: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

#main nav {
  position: absolute;
  top: 0;
  right: 0;
  text-orientation: upright;
  writing-mode: vertical-rl;
  margin: 1em .5em;
  padding: 0;
  width: 45px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
#main nav ul {
  display: flex;
  flex-flow: row nowrap;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  transition: height .5s ease-in-out;
  overflow: hidden;
}
#main nav ul li {
  padding: 1em .5em;
  font-size: 1.2rem;
  width: 100%;
  color: white;
  background-color: rgba(255, 255, 255, .4);
  transition: all .5s ease-in-out;
}
#main nav ul li:hover {
  color: rgb(33, 35, 73);
  transition: color .2s ease-in;
}
#main nav ul > li::after {
    content: '';
    display: block;
    width: 2px;
    height: 0;
    background: rgb(58, 39, 82);
    transition: width .3s;
}
#main nav ul > li:hover::after {
    height: 100%;
    transition: height .3s;
}
#main nav .icon {
  display: none;
  background-color: rgba(255, 255, 255, .4);
  padding: 1em 0;
  margin: 0;
  text-align: center;
  line-height: 45px;
  width: 45px;
}
#main nav .icon:hover {
  color: white;
}
#main #bckgr {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("../images/checkMobileBckgr.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
#main #stars {
  width: 100%;
  height: 0;
  padding-top: 133.5%;
  background: url("../images/checkMobileStars.png");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;
}
#main #mainFrame {
  background-color: rgb(33, 35, 73);
  margin-top: 0.2em;
  display: grid;
  grid-template-columns: 60px minmax(100px, 300px) 2fr;
  grid-template-rows: 125px 125px 100px minmax(100px, 200px);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  padding: .5em 0;
}

#mainFrame h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .5em 0;
  margin: .1em 1.5em;
  border-right: 1px solid white;
  text-orientation: upright;
  writing-mode: vertical-rl;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}
#mainFrame .createForm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  padding: 25px;
  border-radius: 20px;
}
#mainFrame .createForm #entry {
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  line-height: 30px;
}
#mainFrame .createForm input[type='radio'] {
  display: none;
}
#mainFrame .createForm input[type='radio'] + label {
  color: white;
  background: rgb(221, 182, 78);
  padding: 10px;
  border-radius: 3px;
  width: 4.2rem;
  cursor: pointer;
}
#mainFrame .createForm input[type="radio"]:checked + label {
  background: white;
  border: 2px solid rgb(221, 182, 78);
  color: rgb(221, 182, 78);
}
#mainFrame .createForm input[type="radio"]:hover + label {
  background: white;
  color: rgb(221, 182, 78);
}
#mainFrame .createForm  button {
  padding: 10px;
  width: 70%;
  background: rgb(33, 35, 73);
  color: white;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: 2px solid white;
}

#mainFrame .createForm  button:hover {
  color: rgb(221, 182, 78);
  border: 2px solid rgb(221, 182, 78);
}
#mainFrame .mainBox {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  justify-self: center;
}
#mainFrame .mainBox .card {
  position: relative;
  border-radius: 20px;
  background: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  width: 200px;
  height: 200px;
  padding: .2em;
}
#mainFrame .mainBox .card .objective {
  background-color: rgb(33, 35, 73);
  border-radius: 20px;
  height: 100%;
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}
#mainFrame .mainBox .card .objective button {
  width: 75px;
  height: 30px;
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border: 1px solid rgb(221, 182, 78);
  border-radius: 20px;
}
#mainFrame .mainBox .card .objective .rewardAsk:hover {
  background-color: rgb(2221, 182, 78);
  color: rgb(33, 35, 73);
}
#mainFrame .mainBox .card .objective .cardCheck {
  display: none;
}

#main #rewardFrame {
  background-color: rgb(33, 35, 73);
  height: 400px;
  margin-top: 0.2em;
  display: grid;
  grid-template-columns: 60px minmax(100px, 300px) 2fr;
  grid-template-rows: 125px 125px 100px minmax(100px, 200px);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
  padding: .5em 0;
}
#main #rewardFrame h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .5em 0;
  margin: .1em 1.5em;
  border-right: 1px solid white;
  text-orientation: upright;
  writing-mode: vertical-rl;
  padding: 0 .1em;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}



@media screen and (max-height: 650px) {
  #main nav ul {
    height: 0;
  }
  #main nav ul li {
    font-size: .8rem;
  }
  #main nav .icon {
    display: block;
  }
}
@media (min-width: 550px) {
  #main #bckgr {
    background: url("../images/checkDesktopBckgr.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  #main #stars {
    background: url("../images/checkDesktopStars.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 56.25%;
  }
  #mainFrame .mainBox {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}
