/* TO DO
- sign in/ create -
- creators and participants -
- Vouchers and Gift cards with credit card. -
- desktop layout - rework image from complete section-
- copyright patente -
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-image: -webkit-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background-image: -o-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background-image: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 0;
}
#wrapper {
  height: 100%;
  height: calc(var(--mobilevh, 1vh) * 100);
  padding-top: 70px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
  color: white;
}
#main {
  width: 100%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#wrapper #mainNav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  color: white;
  z-index: 10;
  border-bottom: 2px solid rgb(221, 182, 78);
}
/* hide Header while keeping it available for assistive technologies */
#wrapper #mainNav header {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
#mainNav > #navBox {
  width: 100%;
  height: 100%;
  text-align: center;
}
#navBox #mainUlNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: rgb(33, 35, 73);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
}
#mainUlNav > li {
  margin: 0;
  font-size: .9rem;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}
#wrapper > nav ul li:hover {
  background: rgba(0, 0, 0, .5);
}
#wrapper > nav ul > li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    margin-top: .3rem;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#wrapper > nav ul > li:nth-child(1)::after {
  background: rgb(35, 70, 251);
}
#wrapper > nav ul > li:nth-child(2)::after {
  background: rgb(40, 193, 52);
}
#wrapper > nav ul > li:nth-child(3)::after {
  background: rgb(232, 93, 74);
}
#wrapper > nav ul > li:nth-child(4)::after {
  background: rgb(221, 182, 78);
}
#wrapper > nav ul > li:nth-child(5)::after {
  background: rgb(184, 244, 235);
}
#wrapper > nav ul > li:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#wrapper #mainNav #navBox #mainUlNav li > a {
  display: block;
  line-height: 30px;
  padding: 0 .4rem;
  width: 100%;
  height: 100%;
  font-weight: bold;
  white-space: nowrap;
  text-decoration: none;
}
#mainNav #navSignOut {
  display: none;
  color: rgb(221, 182, 78);
}
#wrapper #bckgr {
  width: 100%;
  height: 100%;
  position: fixed;
  background: url("../images/checkMobileBckgr.png");
  background-position: left top;
  background-size: contain;
  background-repeat: repeat;
  z-index: -1;
}
#wrapper #stars {
  width: 100%;
  height: 0;
  padding-top: 138%;
  background: url("../images/checkMobileStarsFinal.png");
  background-position: left top;
  background-size: 100vw auto;
  background-repeat: no-repeat;
}
#main #mainFrame {
  position: relative;
  background-color: rgb(33, 35, 73);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1em minmax(200px, 400px) 1em 40px;
  grid-template-columns: 70px minmax(200px, 400px) 40px;
  -ms-grid-rows: 20px 1.5em minmax(100px, 200px) 1.5em 200px 1.5em 200px 1.5em 50px;
  grid-template-rows: 20px minmax(100px, 200px) 200px 200px 50px;
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
  margin-top: 0.2em;
  padding: .5em 0;
}
#main #mainFrame > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#main #mainFrame > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#main #mainFrame > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
#main #mainFrame > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#main #mainFrame > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#main #mainFrame > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#main #mainFrame > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#main #mainFrame > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#main #mainFrame > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
#main #mainFrame > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
#main #mainFrame > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
#main #mainFrame > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
#main #mainFrame > *:nth-child(13) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}
#main #mainFrame > *:nth-child(14) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
#main #mainFrame > *:nth-child(15) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}

#mainFrame h2 {
  position: relative;
  top: -15px;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .5em 0;
  margin: .1em 1.5em;
  border-right: 2px solid white;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
}
#mainFrame > p {
  position: relative;
  padding: .2em .5em;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  z-index: 1;
  font-size: 1.4rem;
  background: rgba(33, 35, 73, .2);
}
#mainFrame > p::before {
  content: '';
  position: absolute;
  top: -1em;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#mainFrame > p::after {
  content: '';
  position: absolute;
  bottom: -1em;
  right: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#mainFrame > #bckgrClimber {
  position: absolute;
  width: 564px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: url("../images/climbing2.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: .5;
}
#main .createForm {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  z-index: 1;
  background: rgba(33, 35, 73, .7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1em;
  border-radius: 6px;
  color: white;
}
.createForm #exampleEntry, .createForm #entry {
  background-color: rgb(33, 35, 73);
  border: 1px solid rgb(221, 182, 78);
  border-radius: 5px;
  line-height: 30px;
  width: 150px;
  color: white;
  text-align: center;
  -webkit-transition: -webkit-box-shadow .1s ease-in;
  transition: -webkit-box-shadow .1s ease-in;
  -o-transition: box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
}
input:hover {
  -webkit-box-shadow: 0 0 2px 2px rgb(221, 182, 78);
          box-shadow: 0 0 2px 2px rgb(221, 182, 78);
  -webkit-transition: -webkit-box-shadow .1s ease-in;
  transition: -webkit-box-shadow .1s ease-in;
  -o-transition: box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in;
  transition: box-shadow .1s ease-in, -webkit-box-shadow .1s ease-in;
}
.createForm .timeRange {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.createForm input[type='radio'] {
  display: none;
}
.createForm input[type='radio'] + label {
  color: rgb(33, 35, 73);
  background: rgb(221, 182, 78);
  padding: 10px;
  margin: .2em;
  min-width: 50px;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.createForm input[type="radio"]:checked + label {
  background: rgb(33, 35, 73);
  border: 2px solid rgb(221, 182, 78);
  color: rgb(221, 182, 78);
}
.createForm input[type="radio"]:hover + label {
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border: 2px solid rgb(221, 182, 78);
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
.createForm  button {
  padding: .6rem;
  width: 60%;
  min-width: 100px;
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 2px solid rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.createForm  button:hover {
  color: rgb(33, 35, 73);
  background: rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#main .createForm #exampleEntry::-webkit-input-placeholder {
  color: white;
}

#main .createForm #exampleEntry:-ms-input-placeholder {
  color: white;
}

#main .createForm #exampleEntry::-ms-input-placeholder {
  color: white;
}

#main .createForm #exampleEntry::placeholder {
  color: white;
}
#mainFrame .mainBox {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 4;
      grid-row-start: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-column-align: center;
      justify-self: center;
}
#mainFrame .mainBox .card {
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  background: -webkit-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: -o-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 10px 7px 15px 10px rgba(0, 0, 0, .3);
          box-shadow: 10px 7px 15px 10px rgba(0, 0, 0, .3);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  -o-transition: transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
  z-index: 1;
}
#mainFrame .mainBox .card,
#mainFrame .mainBox .card .objective {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#mainFrame .mainBox .card:hover {
  -webkit-transform: translate3d(0, 0, 50px);
          transform: translate3d(0, 0, 50px);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  -o-transition: transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}
.card {
  position: relative;
  border-radius: 20px;
  width: 220px;
  height: 220px;
  padding: .2em;
}
.card .objective {
  background-color: rgb(33, 35, 73);
  border-radius: 20px;
  height: 100%;
  padding: .2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card .objective p {
  text-align: center;
}
.card .objective button {
  width: 75px;
  height: 75px;
  font-size: 1.4rem;
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border: 1px solid rgb(221, 182, 78);
  border-radius: 20px;
}
.card .objective .rewardAsk:hover {
  background-color: rgb(221, 182, 78);
  color: rgb(33, 35, 73);
}
.card .objective .cardCheck {
  display: none;
}

#main #rewardFrame {
  position: relative;
  background-color: rgb(33, 35, 73);
  margin-top: 0.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1em minmax(200px, 400px) 1em 40px;
  grid-template-columns: 70px minmax(200px, 400px) 40px;
  -ms-grid-rows: 70px 1.5em minmax(100px, 150px) 1.5em minmax(200px, 400px) 1.5em 70px;
  grid-template-rows: 70px minmax(100px, 150px) minmax(200px, 400px) 70px;
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
  padding: .5em 0;
}

#main #rewardFrame > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

#main #rewardFrame > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

#main #rewardFrame > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

#main #rewardFrame > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#main #rewardFrame > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

#main #rewardFrame > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

#main #rewardFrame > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}

#main #rewardFrame > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}

#main #rewardFrame > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}

#main #rewardFrame > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}

#main #rewardFrame > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}

#main #rewardFrame > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
#rewardFrame > h2 {
  position: relative;
  top: -15px;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .5em 0;
  margin: .1em 1.5em;
  border-right: 2px solid white;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  z-index: 1;
}
#rewardFrame > p {
  position: relative;
  padding: 0;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  z-index: 1;
  font-size: 1.4rem;
  background: rgba(33, 35, 73, .2);
}
#rewardFrame > p::before {
  content: '';
  position: absolute;
  top: -1em;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#rewardFrame > p::after {
  content: '';
  position: absolute;
  bottom: -1em;
  right: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#rewardFrame > #bckgrMoon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../images/moon1.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 1;
}
#rewardFrame .rewardList {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1em;
  border-radius: 6px;
  padding: .2em;
  z-index: 1;
  background: rgba(33, 35, 73, .7);
}
#rewardFrame .rewardList .rewardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 20px;
  padding: 1em;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 200%;
  color: rgb(221, 182, 78);
}
.rewardBox input[type='radio'] {
  display: none;
}
.rewardBox input[type='radio'] + label {
  display: block;
  color: rgb(221, 182, 78);
  cursor: pointer;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
  padding: .5em;
  width: 200px;
  height: 100px;
  border-radius: 20px;
  border: 2px solid rgb(221, 182, 78);
  background: rgb(33, 35, 78);

}
.rewardBox input[type="radio"]:checked + label {
  background-color: rgb(221, 182, 78);
  color: rgb(33, 35, 73);
}

.rewardBox input[type="radio"]:hover + label {
  background: rgb(221, 182, 78);
  color: rgb(33, 35, 73);
}
#rewardFrame .rewardBox #successRewardInfo {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
}
#rewardFrame .rewardBox #successRewardInfo span {
  font-size: 1.4rem;
}
#main #completeFrame {
  position: relative;
  background-color: rgb(181, 123, 12);
  margin-top: 0.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70px 1em minmax(200px, 400px) 1em 40px;
  grid-template-columns: 70px minmax(200px, 400px) 40px;
  -ms-grid-rows: 70px 1.5em minmax(100px, 250px) 1.5em minmax(100px, 300px) 1.5em 70px;
  grid-template-rows: 70px minmax(100px, 250px) minmax(100px, 300px) 70px;
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
  padding: .5em 0 0 0;
}
#main #completeFrame > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
#main #completeFrame > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
#main #completeFrame > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}
#main #completeFrame > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
#main #completeFrame > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
#main #completeFrame > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}
#main #completeFrame > *:nth-child(7) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}
#main #completeFrame > *:nth-child(8) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}
#main #completeFrame > *:nth-child(9) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}
#main #completeFrame > *:nth-child(10) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}
#main #completeFrame > *:nth-child(11) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
#main #completeFrame > *:nth-child(12) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}
#completeFrame > h2 {
  position: relative;
  top: -15px;
  font-size: 2.2rem;
  text-transform: uppercase;
  border-right: 2px solid white;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: .1em 1.5em;
  padding: .5em 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  z-index: 1;
}
#completeFrame > p {
  position: relative;
  padding: .2em .5em;
  text-align: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  font-size: 1.4rem;
  background: rgba(33, 35, 73, .2);
  z-index: 1;
}
#completeFrame > p::before {
  content: '';
  position: absolute;
  top: -1em;
  left: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#completeFrame > p::after {
  content: '';
  position: absolute;
  bottom: -1em;
  right: 0;
  width: 100%;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, .0)), color-stop(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, .0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: -o-linear-gradient(left, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
  background: linear-gradient(90deg, rgba(255, 255, 255, .0), rgba(255, 255, 255, 1), rgba(255, 255, 255, .0));
}
#completeFrame > #bckgrFallingStar {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  background-image: url("../images/fallingStar1.png");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.9;
}
#completeFrame .card {
  position: relative;
  border-radius: 20px;
  background: -webkit-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: -o-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  padding: .2em;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row: 3;
      grid-row-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
          transform: rotateX(50deg) rotateY(0deg) rotateZ(45deg);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  -o-transition: transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 10px 7px 15px 10px rgba(0, 0, 0, .3);
          box-shadow: 10px 7px 15px 10px rgba(0, 0, 0, .3);
}
#completeFrame .card,
#completeFrame .card .objective {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#completeFrame .card:hover {
  -webkit-transform: translate3d(0, 0, 50px);
          transform: translate3d(0, 0, 50px);
  -webkit-transition: -webkit-transform .4s ease-in;
  transition: -webkit-transform .4s ease-in;
  -o-transition: transform .4s ease-in;
  transition: transform .4s ease-in;
  transition: transform .4s ease-in, -webkit-transform .4s ease-in;
}
#completeFrame .card .objective button:hover {
  color: rgb(33, 35, 73);
  background-color: rgb(221, 182, 78);
}
.card p {
  margin-top: 5px;
  font-size: 1.2rem;
}
.card .rewardDisplay {
  color: rgb(221, 182, 78);
  font-size: 1.6rem;
}
#completeFrame .completeButtonWrapper {
  background: -webkit-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: -o-linear-gradient(60deg, rgb(247, 159, 87), rgb(196, 2, 205));
  background: linear-gradient(30deg, rgb(247, 159, 87), rgb(196, 2, 205));
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 50px;
  padding: 3px;
  margin: 0 auto;
  border-radius: 10px;
}
#completeFrame .completeButton {
  width: 100%;
  height: 100%;
  margin: 0;
  border: none;
  background-color: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border-radius: 8px;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all .3s ease-in-out;
}
#completeFrame .completeButton:hover {
  background: -webkit-linear-gradient(30deg, rgb(255, 122, 0), rgb(85, 0, 208));
  background: -o-linear-gradient(30deg, rgb(255, 122, 0), rgb(85, 0, 208));
  background: linear-gradient(30deg, rgb(255, 122, 0), rgb(85, 0, 208));
  font-size: 1.3rem;
  transition: all .2s ease-in-out;
}
/* ----------------------------- */
/*            Home               */
/* ------------------------------*/
#wrapper #home {
  height: auto;
  min-height: 100vh;
  background-color: rgb(33, 35, 73);
  margin-top: 0.2em;
  padding: .5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home #objectivesBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wrapper #home .createForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding: 1em;
  margin: 5em 0;
  border-radius: 6px;
  color: white;
  width: 80vw;
  max-width: 600px;
  height: 250px;
}
#wrapper #home > h2 {
  position: relative;
  top: -15px;
  left: 0;
  font-size: 2.2rem;
  text-transform: uppercase;
  padding: .2em 0;
  margin: .1em .2em;
  border-bottom: 2px solid white;
}
#home #randomQuote {
  width: 80vw;
  position: relative;
  height: 100px;
  font-size: .8rem;
  font-weight: 600;
  text-align: center;
  color: rgb(221, 182, 78);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#home #randomQuote #quote::before,
#home #randomQuote #quote::after {
  font-size: 1.6rem;
  position: absolute;
}
#home #randomQuote #quote::before {
  content: "“";
  left: -1.5rem;
}
#home #randomQuote #quote::after {
  content: "”";
  right: -1.5rem;
}
#home #randomQuote.quoteAnimation {
  -webkit-animation: quoteFade 10s; /* Chrome, Safari, Opera */
    -webkit-animation-iteration-count: infinite;
    -webkit-animation: quoteFade 10s infinity;
            animation: quoteFade 10s infinity;
    animation-iteration-count: infinite;
}
#home #randomQuote > i {
  letter-spacing: .2em;
}
#home #randomQuote #author {
  display: block;
  white-space: nowrap;
  margin-top: 1em;
}
#home > #mainSection {
  width: 100%;
  position: relative;
}
#mainSection #cardEditorDiv {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}
#mainSection #cardEditorDiv #cardEditor {
  width: 40px;
  height: 40px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#mainSection .activeEditor {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: center 15px;
      -ms-transform-origin: center 15px;
          transform-origin: center 15px;
  transition: all 0.2s ease-in-out;
}
#mainSection .activeEditor > i {
  color: rgb(221, 182, 78);
}
#cardEditor > i {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, .6);
}
#cardEditor > i:hover {
  color: rgb(221, 182, 78);
  cursor: pointer;
}
#mainSection #cardEditorDiv #cardEditorInfo {
  display: none;
  position: relative;
  background-color: rgba(0, 0, 0, .4);
  margin: 10px 3px 0 0;
  padding: 10px 0 10px 14px;
  height: 100%;
  border-radius: 6px;
}
#mainSection #cardEditorInfo::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 5px;
  left: -15px;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid rgba(0, 0, 0, .4);
}

#home .createForm #entry::-webkit-input-placeholder {
  color: white;
}

#home .createForm #entry:-ms-input-placeholder {
  color: white;
}

#home .createForm #entry::-ms-input-placeholder {
  color: white;
}

#home .createForm #entry::placeholder {
  color: white;
}
[placeholder]:focus::-webkit-input-placeholder {
  -webkit-transition: opacity 0.5s 0.5s ease;
  -o-transition: opacity 0.5s 0.5s ease;
  transition: opacity 0.5s 0.5s ease;
  opacity: 0;
}
#home .createForm #inputError {
  color: red;
  font-size: 0.8rem;
}
#home #mainSection > #mainObjectives {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1em 1.5em;
}
#mainObjectives > .card {
  margin: .2em;
}
#mainObjectives .close {
  display: none;
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#mainObjectives .close::before,
#mainObjectives .close::after {
  position: absolute;
  left: -2px;
  top: 12px;
  content: "";
  height: 2px;
  width: 30px;
  background-color: white;
}
#mainObjectives .close::before {
  -webkit-transform: rotate(45deg) scale(.8);
      -ms-transform: rotate(45deg) scale(.8);
          transform: rotate(45deg) scale(.8);
}
#mainObjectives .close::after {
  -webkit-transform: rotate(-45deg) scale(.8);
      -ms-transform: rotate(-45deg) scale(.8);
          transform: rotate(-45deg) scale(.8);
}
#mainObjectives .close:hover {
  border: 2px solid rgb(221, 182, 78);
}
#mainObjectives .close:hover::before,
#mainObjectives .close:hover::after {
  background-color: rgb(221, 182, 78);
}
#mainObjectives .rewardItem {
  color: rgb(221, 182, 78);
  font-weight: bold;
  font-size: 1.2rem;
}
#mainObjectives .rewardAsk i {
  pointer-events: none;
}
#mainSection #clearUsers {
  display: block;
  height: 50px;
  font-size: 0.6rem;
  padding: .5rem;
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border: 1px solid rgb(221, 182, 78);
  border-radius: 20px;
  text-transform: uppercase;
}
#mainSection #clearUsers:hover {
  color: rgb(33, 35, 78);
  background: rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#home #rewardList {
  position: fixed;
  display: none;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: 10;
  background: rgba(33, 35, 73, .9);
  overflow: scroll;
}
#rewardList h4 {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 100px;
  color: rgb(221, 182, 78);
}
#rewardList .rewardBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: auto;
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border: 1px solid rgb(221, 182, 78);
  text-transform: uppercase;
  text-align: center;
  font-size: 1.1rem;
  color: rgb(221, 182, 78);
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#rewardList .close {
  display: block;
  position: relative;
  margin-top: 0.2rem;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid white;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#rewardList .close::before,
#rewardList .close::after {
  position: absolute;
  left: -2px;
  top: calc(50% - 2px);
  content: "";
  height: 2px;
  width: 50px;
  background-color: white;
}
#rewardList .close::before {
  -webkit-transform: rotate(45deg) scale(.8);
      -ms-transform: rotate(45deg) scale(.8);
          transform: rotate(45deg) scale(.8);
}
#rewardList .close::after {
  -webkit-transform: rotate(-45deg) scale(.8);
      -ms-transform: rotate(-45deg) scale(.8);
          transform: rotate(-45deg) scale(.8);
}
#rewardList .close:hover {
  border: 2px solid rgb(221, 182, 78);
}
#rewardList .close:hover::before,
#rewardList .close:hover::after {
  background-color: rgb(221, 182, 78);
}
#rewardList .rewardBox #rewardMainBox {
  font-weight: bold;
}
#rewardList #giftCardDialogBox {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#giftCardDialogBox > i {
  -webkit-animation: loop 2s ease-in-out;
          animation: loop 2s ease-in-out;
}
#giftCardDialogBox #cardCatalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#cardCatalog .cardElement {
  display: inline-block;
  width: 100px;
  height: 75px;
  border: 1px solid rgb(221, 182, 78);
  cursor: pointer;
}
#cardCatalog .cardElement:hover {
  -webkit-box-shadow: 0 0 2px 2px rgb(221, 182, 78);
          box-shadow: 0 0 2px 2px rgb(221, 182, 78);
}
#home #bitcoinDialogBox {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: auto;
  color: rgb(221, 182, 78);
  background-color: rgba(33, 35, 73, .9);
  z-index: 10;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#bitcoinDialogBox i {
  -webkit-animation: loop 2s ease-in-out;
          animation: loop 2s ease-in-out;
}
#bitcoinDialogBox h4 {
  font-size: 1.4rem;
}
#bitcoinDialogBox #bitcoinDialogForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 200px;
  padding: 0.5rem 1rem;
}
#bitcoinDialogForm > button {
  padding: .6rem;
  width: 60%;
  min-width: 100px;
  background: rgb(33, 35, 73);
  color: rgb(221, 182, 78);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.1rem;
  border: 2px solid rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#bitcoinDialogForm button:hover {
  color: rgb(33, 35, 73);
  background: rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#bitcoinDialogForm label {
  display: block;
  color: white;
  text-transform: none;
}
#bitcoinDialogForm input[type="text"] {
  color: rgb(221, 182, 78);
  background: rgb(33, 35, 73);
  padding: 10px;
  margin: .2em;
  min-width: 50px;
  border-radius: 3px;
  border: 1px solid rgb(221, 182, 78);
  cursor: pointer;
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
#bitcoinDialogForm input[type="text"]::-webkit-input-placeholder {
  color: red;
}
#bitcoinDialogForm input[type="text"]:-ms-input-placeholder {
  color: red;
}
#bitcoinDialogForm input[type="text"]::-ms-input-placeholder {
  color: red;
}
#bitcoinDialogForm input[type="text"]::placeholder {
  color: red;
}
#bitcoinDialogForm #bitcoinAddressPaste {
  color: rgb(221, 182, 78);
  display: inline-block;
  float: left;
  font-size: .9rem;
  padding: .2rem .4rem;
  cursor: pointer;
}
#bitcoinDialogForm #bitcoinAddressPaste:hover {
  font-weight: bold;
}
#paypalDialogBox {
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
#rewardList #rewardUndo {
  display: none;
  color: rgba(255, 255, 255, .5);
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 1rem;
}
#rewardList #rewardUndo:hover {
  color: rgb(221, 182, 78);
}

#about {
  display: none;
  width: 100%;
  height: 100vh;
  margin-top: 0.2em;
  padding: .5em 0;
  background: rgb(33, 35, 73);
}


/* ----------------------------- */
/*            Login              */
/* ------------------------------*/

#login {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 35, 73, .9);
  padding: 2em 1em;
  z-index: 10;
  overflow-y: scroll;
}
.noScroll {
  overflow-y: hidden;
}
[ariaHidden="true"]  { display: none; }
[ariaHidden="false"] { display: block; }
#login .title {
  color: rgb(221, 182, 78);
}
#login p.text {
  margin: 10px 0;
}
#login .passwordTipDiv h3 {
  margin: 0;
}
#login .passwordTipDiv p {
  margin: 0;
}
#login #loginRadio {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 70px;
  margin: 0 auto 10px;
  border: 2px solid rgb(221, 182, 78);
  border-radius: 8px;
}
#loginRadio .switch {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgb(33, 35, 78);
  border-radius: 8px;
}

#loginRadio .switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50%;
  height: 100%;
  font-size: 1.6rem;
  color: rgb(221, 182, 78);
  text-align: center;
  padding: 17px 0;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
#loginRadio .switch-label:active {
  font-weight: bold;
}
#loginRadio .switch-label:hover {
  background-color: rgba(221, 182, 78, 0.9);
  color: rgb(33, 35, 73);
  transition: all 0.2s ease-in-out;
}

#loginRadio .switch-input {
  display: none;
}
#loginRadio .switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgb(33, 35, 73);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -ms-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color, text-shadow;
  -moz-transition-property: color, text-shadow;
  -ms-transition-property: color, text-shadow;
  -o-transition-property: color, text-shadow;
  transition-property: color, text-shadow;
}
#loginRadio .switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 50%;
}

#loginRadio .switch-selection {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 50%;
  height: 100%;
  border-radius: 3px;
  background-color: rgb(221, 182, 78);
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#login .login, #login .register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}
#login #loginAccountForm, #login #registerAccountForm {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-radius: 6px;
  height: 100%;
  width: 300px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
#login span {
  display: block;
}
#login p.text input {
  border-radius: 5px;
  padding: 8px 12px;
  color: white;
  background-color: rgb(33, 35, 73);
  border: 1px solid rgb(221, 182, 78);
}
#login p.text input::-webkit-input-placeholder {
  opacity: .8;
  color: white;
}
#login p.text input:-ms-input-placeholder {
  opacity: .8;
  color: white;
}
#login p.text input::-ms-input-placeholder {
  opacity: .8;
  color: white;
}
#login p.text input::placeholder {
  opacity: .8;
  color: white;
}
#login .password-strength-popover {
  display: none;
}
#login .submitButton button {
  padding: .8rem 0;
  background: rgb(33, 35, 78);
  color: rgb(221, 182, 78);
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
  width: 200px;
  border: 2px solid rgb(221, 182, 78);
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#login .submitButton button:hover {
  color: rgb(33, 35, 78);
  background: rgb(221, 182, 78);
  -webkit-transition: all .1s ease-in;
  -o-transition: all .1s ease-in;
  transition: all .1s ease-in;
}
#login .close {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  margin: .5rem auto 0;
  border-radius: 50%;
  border: 3px solid white;
}
#login .close::before,
#login .close::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1px;
  content: "";
  height: 2px;
  width: 100%;
  background-color: white;
}
#login .close::before {
  -webkit-transform: rotate(45deg) scale(.8);
      -ms-transform: rotate(45deg) scale(.8);
          transform: rotate(45deg) scale(.8);
}
#login .close::after {
  -webkit-transform: rotate(-45deg) scale(.8);
      -ms-transform: rotate(-45deg) scale(.8);
          transform: rotate(-45deg) scale(.8);
}
#login .close:hover {
  border: 3px solid rgb(221, 182, 78);
}
#login .close:hover::before,
#login .close:hover::after {
  background-color: rgb(221, 182, 78);
}
#login #loginAccountForm label:not(.rememberContainer),
#login #registerAccountForm label {
  display: none;
}
#login #loginAccountForm .rememberContainer {
  position: relative;
  display: block;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.6rem;
  padding-left: 35px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#loginAccountForm .rememberContainer input[type=checkbox] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
#loginAccountForm .rememberContainer .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(33, 35, 78);
  border: 1px solid rgb(221, 182, 78);
}
/* Create the checkmark/indicator (hidden when not checked) */
#loginAccountForm .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#loginAccountForm .rememberContainer input:checked ~ .checkmark:after {
  display: block;
}
#loginAccountForm .rememberContainer .checkmark:after {
  left: 8px;
  top: 4px;
  width: 4px;
  height: 10px;
  border: solid rgb(221, 182, 78);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#login #loginAccountForm #loginError {
  font-size: 0.8rem;
  color: red;
  margin: 0;
}
#login #loginAccountForm #successLogin {
  color: rgb(221, 182, 78);
  font-size: 1.2rem;
}
#login #loginAccountForm #successUserName {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}
#login .register {
  display: none;
}
#login #registerAccountForm #registerError {
  display: inline-block;
  color: red;
  font-size: 0.8rem;
  margin: 0;
}
#login #registerAccountForm #successCreate {
  display: inline-block;
  color: rgb(221, 182, 78);
  font-size: 1.2rem;
}
#login #registerAccountForm #userNameCreate {
  font-size: 1.5rem;
  font-weight: bold;
  display: inline-block;
}
#login .passwordTipDiv {
  width: 250px;
  height: 0;
  background: rgb(33, 35, 73);
  margin: 0 auto;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: -1;
}
#login .passwordTipDiv.tip {
  opacity: 1;
  height: 200px;
}
#login .passwordTipDiv h3 {
  font-size: 1.1rem;
}
#login .passwordTipDiv p {
  font-size: .9rem;
  color: rgba(255, 255, 255, .7);
}
#login .passwordTipDiv b {
  font-size: 1rem;
}
#login .passwordTipDiv .invalid b {
  color: rgb(255, 116, 38);
}
#login .passwordTipDiv .valid b {
  color: rgb(221, 182, 78);
}

/* ----------------------------- */
/*            Footer             */
/* ------------------------------*/

#wrapper > #mainFooter {
  position: relative;
  margin-top: 0.2rem;
  background-color: rgb(16, 17, 36);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#mainFooter > h2 {
  position: relative;
  top: -4px;
  left: 0;
  font-size: 2.2rem;
  text-transform: uppercase;
  border-right: 2px solid white;
  text-orientation: upright;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  margin: 0 .8rem;
  padding: .5em 0;
}
#mainFooter > h2 > span {
}
#mainFooter > ul {
  margin: 0.5rem;
  padding: 0;
  width: 70%;
  list-style-type: none;
}
#mainFooter > ul > li {
  margin: 0 .2rem;
  height: 50px;
  border-right: 1px solid rgb(221, 182, 78);
  border-radius: 1px;
}
#mainFooter > ul > li:hover {
  background: rgba(0, 0, 0, .5);
}
#mainFooter li::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#mainFooter li:nth-child(1)::after {
  background: rgb(35, 70, 251);
}
#mainFooter li:nth-child(2)::after {
  background: rgb(40, 193, 52);
}
#mainFooter li:nth-child(3)::after {
  background: rgb(232, 93, 74);
}
#mainFooter li:nth-child(4)::after {
  background: rgb(221, 182, 78);
}
#mainFooter li:hover::after {
    width: 100%;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}
#mainFooter li > a {
  display: block;
  width: 100%;
  height: 100%;
  padding: .6rem;
  font-weight: bold;
}
#mainFooter > #donations {
  color: rgba(221, 182, 78, .8);
  padding: 1rem 1rem 1rem 60px;
  width: 100%;
  background-image: url("../images/patreon.png");
  background-size: 50px auto;
  background-repeat: no-repeat;
  background-position: center left;
  background-color: black;
  border-top: 1px solid rgb(221, 182, 78);
}
#mainFooter #donations a {
  color: white;
  font-weight: bold;
}
#mainFooter #donations a:hover {
  text-decoration: underline;
}
#mainFooter #copyright {
  position: absolute;
  font-size: .8rem;
  width: 100%;
  bottom: 0;
  text-align: center;
  color: rgb(190, 190, 190);
}
@-webkit-keyframes loop {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}
@keyframes loop {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@-webkit-keyframes quoteFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes quoteFade {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* @media (min-width: 800px) {
  #wrapper > #bckgr {
    background: url("../images/check2HugeBckgr.png");
    background-size: contain;
    background-repeat: repeat;
    z-index: -1;
  }
  #wrapper > #stars {
    background: url("../images/check2HugeStars.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
  }
} */

@media screen and (max-height: 650px) {
  #main nav ul {
    height: 45px;
  }
  #main nav ul li {
    font-size: .8rem;
  }
  #main nav ul .icon {
    display: block;
  }
}
@media (min-width: 1200px) {
  #wrapper > #bckgr {
    background: url("../images/check2HugeBckgr.png");
    background-size: 100vw auto;
    background-repeat: no-repeat;
  }
  #wrapper > #stars {
    background: url("../images/checkHugeStarsFinal2.png");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    padding-top: 100vh;
  }
  #wrapper > #darkBckgr {
    display: block;
    background-color: rgb(33, 35, 78);
    position: absolute;
    height: 100vh;
    width: 100vw;
    border: 1px solid red;
    top: 0;
    z-index: -2;
  }
}
@media (min-width: 500px) and (max-width: 1200px) {
  #wrapper > #bckgr {
    background: url("../images/check2.png");
    background-size: contain;
    background-repeat: repeat;
  }
  #wrapper > #stars {
    background: url("../images/checkDesktopStarsFinal2.png");
    background-size: 100vw auto;
    background-repeat: no-repeat;
    padding-top: 56.25%;
  }
  #mainFrame {
    -ms-grid-columns: 70px minmax(200px, 400px) 40px 40px;
    grid-template-columns: 70px minmax(200px, 400px) 40px 40px;
    -ms-grid-rows: 20px minmax(100px, 200px) 200px 200px 50px 50px;
    grid-template-rows: 20px minmax(100px, 200px) 200px 200px 50px 50px;
  }
  #mainFrame > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  #mainFrame > *:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  #mainFrame > *:nth-child(9) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(10) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  #mainFrame > *:nth-child(13) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(14) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(15) {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(16) {
    -ms-grid-row: 4;
    -ms-grid-column: 4;
  }
  #mainFrame > *:nth-child(17) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(18) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(19) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(20) {
    -ms-grid-row: 5;
    -ms-grid-column: 4;
  }
  #mainFrame > *:nth-child(21) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
  }
  #mainFrame > *:nth-child(22) {
    -ms-grid-row: 6;
    -ms-grid-column: 2;
  }
  #mainFrame > *:nth-child(23) {
    -ms-grid-row: 6;
    -ms-grid-column: 3;
  }
  #mainFrame > *:nth-child(24) {
    -ms-grid-row: 6;
    -ms-grid-column: 4;
  }
  #mainFrame > p {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #mainFrame .createForm {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
}
  #mainFrame .mainBox {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
  #rewardFrame > p {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
  }
  #rewardFrame .rewardList {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 2;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  #completeFrame > p {
    -ms-grid-column: 2;
        grid-column-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
        grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
  }
  #completeFrame .card {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  #completeFrame > #bckgrFallingStar {
    background-size: 100vw auto;
    background-position: left top;
  }
}
